.LandingLayout {
    margin-bottom: 80px;
    background-image: url("../../assets/images/pokeball.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}